# Dependency directories
/node_modules

# Build output
/build
/dist

# Environment variables
.env

# IDE and editor files
/.idea
/.vscode
*.swp
*.swo

# Logs
/logs

# Testing artifacts
/coverage

# Miscellaneous
.DS_Store
Thumbs.db
# .NET minimal API project
/bin
/obj

#Ignore DATASET
/data
node_modules

backend/tests/bin/Debug/*
backend/backend/obj/*

