# Dependency directories
frontend/node_modules/*
backend/backend/obj/*
backend/backend/bin/*
backend/backend/tests/bin/Debug/*
backend/backend/tests/obj/*
# Build output
/build
/dist

# Environment variables
.env

# IDE and editor files
/.idea
/.vscode
*.swp
*.swo

# Logs
/logs

# Testing artifacts
/coverage

# Miscellaneous
.DS_Store
Thumbs.db
# .NET minimal API project
/bin
/obj

#Ignore DATASET
/data
node_modules


