.wrapper {
  position: relative;
  padding-top: 180px;
  padding-bottom: 130px;
  background-color: aquamarine;

  @media (max-width: $mantine-breakpoint-xs) {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}

.inner {
  position: relative;
  z-index: 1;
}

.title {
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -1px;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  color: var(--mantine-color-white);
  margin-bottom: var(--mantine-spacing-xs);
  text-align: center;
  font-family: Greycliff CF, var(--mantine-font-family);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 28px;
    text-align: left;
  }
}
.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
  display: flex;
  justify-content: center;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.control {
  height: 42px;
  font-size: var(--mantine-font-size-md);
  color: black;
  &:not(:first-of-type) {
    margin-left: var(--mantine-spacing-md);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    &:not(:first-of-type) {
      margin-top: var(--mantine-spacing-md);
      margin-left: 0;
    }
  }
}
